name: Tiruppur Daily News Bot

on:
  schedule:
    - cron: '30 0 * * *'   # 06:00 AM IST
  workflow_dispatch:

jobs:
  run-news-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Chrome
        run: |
          sudo apt update
          sudo apt install -y google-chrome-stable

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run news script
        run: python allwebsite.py
